* {
  box-sizing: border-box;

}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 30px;
}

h1 a {
  font-weight: 300;
  color: #F9D483;
  text-decoration: none;
  font-size: 48px;
}

h1 {
  display: inline;
}
h2 {
  font-weight:normal;
  display:inline;
  color:#D2D2D2;
  margin-left: 1em;
}

h2 a {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

h3 {
  color: #D2D2D2;
  font-weight: normal;
  font-size: 26px;
}

h4 a {
  color:#F9D483;
  text-decoration: none;
  float: right;
}

.more {
  float: right;
}


nav a {
  color: #D2D2D2;
  font-size: 18px;
  padding: 16px;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  background-color: #B0B6BB;
  color: white;
}

section p::first-letter {
  float: left;
  font-size:68px;
  color:#D2D2D2;
  width: 4.0em;
  line-height: 72%;
  padding: 5px;
}

img {
  display: block;
  max-width:100%;
  margin: 10px 0;
  clear:both;
}

p {
padding: 5px;
font-size: 14px;
line-height: 1.4;
}

section {
  width: 60%;
  float:left;
  padding-right: 20px;
}

aside {
  width:40%;
  float:left;
  color:#D2D2D2;
}

aside a {
  text-decoration: none;
  color:#F9D483;
  font-weight: 300;
  font-size: 14px;
}

div h4 {
  font-weight: 700;
  color:#969696;
}

hr {
  background-color:red;
  color: red;
}

div.copy {
 color:#D2D2D2;
 font-size: 12px;
 padding-top: 24px;
}

footer {
 clear:both;
}
footer a {
  text-decoration: none;
  color: #F9D483;
  font-size: 12px;
  background-color: white;
  padding: 0px;
}
