body{
background-color: #444444;
}
a {
	color: #20b075;
	font-family: helvetica;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-family: georgia;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 38px;
	color: white;
}
strong {
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.bold {
	font-weight: bold;
	}

h2 {
	font-weight: bold;
	font-family: helvetica;
	color: white;
}

p {
color: white;
font-family: georgia;
font-size: 18px;
line-height: 1.5;

}
h3
{
	color: #BBBBBB;
	font-family: verdana;
	font-size: 18px;
}
h4 {
	color:white;
	font-family: helvetica;
	font-size: 14px;
	color:#BBBBBB;
}

.size {
	font-size: 18px;
	color:#FFFFFF;
	font-family: helvetica;
}

.font-family {
	font-family:helvetica;
	font-size: 14px;
}

h5
{
	color: white;
	font-family: georgia;
	font-size: 18px;
	color:#BBBBBB;
	font-weight: normal;

}

li{
	color:#BBBBBB;
	font-family: georgia;
	line-height: 1.5;
}

li,h4 {
	font-size: 18px;
	font-weight:normal;
	font-family: georgia;
}


nav, a {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #20b075;
    font-family: helvetica;
}
}