/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    White - #ffffff;
    Light Grey - #D4E1DB
    Dark Grey - #3C3A3A
    Grey/Black(text color) - #080808
    Yellow - #FEDBOD
    Red - #FF0121
*/


/* Global
   ================================================================ */
body {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #080808;
  text-decoration: none;
  /* Set some defaults! font-family, font-size, color, etc. */
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

/* Layout (columns, floats, etc.)
   ================================================================ */


/* Header
   ================================================================ */



/* Footer
   ================================================================ */



/* Navigation
   ================================================================ */



/* Buttons
   ================================================================ */