/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
   border: 1px solid red; 
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    White - #ffffff;
    Light Grey - #D4E1DB
    Dark Grey - #3C3A3A
    Grey/Black(text color) - #080808
    Yellow - #FEDBOD
    Red - #FF0121
*/


/* Global
   ================================================================ */
body {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #080808;
  /* Set some defaults! font-family, font-size, color, etc. */
}
 p {
  clear:both;
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

/* Layout (columns, floats, etc.)
   ================================================================ */
.info {
  float:right;
  position: relative;
  width: 33.3%;
}

/* Header
   ================================================================ */
h1 {
  float: left;
  padding-left: 20px;
  font-family:'Merriweather', serif;
}

h1 a {
  text-decoration: none;
}

/* Footer
   ================================================================ */
footer p {
  background-color:#3C3A3A;
  color: #ffffff;
}


/* Navigation
   ================================================================ */
   nav {
    float: right;
   }

   nav li {
    display: inline-block;
   }

   nav a {
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    }



/* Buttons
   ================================================================ */