/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    White - #ffffff;
    Light Grey - #D4E1DB
    Dark Grey - #3C3A3A
    Grey/Black(text color) - #080808
    Yellow - #FEDBOD
    Red - #FF0121
*/


/* Global
   ================================================================ */
body {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #080808;
/*  background-image: url(coworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
  /* Set some defaults! font-family, font-size, color, etc. */
}

.banner{
  background-image: url(../images/coworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  background-position: center;
}
 p {
  clear:both;
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

/* Layout (columns, floats, etc.)
   ================================================================ */
.info {
  float:right;
  position: relative;
  width: 33.3%;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

.blurb {
  float:right;
  border: 1px;
  width: 300px;
  -webkit-box-shadow: 10px 10px 171px 0px rgba(0,0,0,0);
  -moz-box-shadow: 10px 10px 171px 0px rgba(0,0,0,0);
  box-shadow: 10px 10px 171px 0px rgba(0,0,0,0);
}

.tagline {
  text-align: center;
  background-color: #DEECE6;
  font-family: 'Merriweather', serif;
  font-style:italic;
  padding: 25px;
  font-size: 30px;
  margin: 0;
}

/* Header
   ================================================================ */
header {
  background-color: #3C3A3A;
  border-bottom: 3px solid gold;

}

h1 {
  float: left;
  padding-left: 20px;
  font-family:'Merriweather', serif;
  background-color:#3C3A3A;
}

h1 a {
  text-decoration: none;
  background-color:#3C3A3A;
  color: white;
  font-family:'Merriweather', serif;
  font-style:none;
}


/* Footer
   ================================================================ */
footer {
  clear:both;
  background-color:#3C3A3A;
  color: #ffffff;
  padding: 10px;
}

/* Navigation
   ================================================================ */
   nav {
    float: right;
    background-color:#3C3A3A;
   }

   nav li {
    display: inline-block;
   }

   nav a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 10px 10px 10px;
    font-style: normal;
    margin: 0;
   }

   nav strong a {
    padding: 0 10px 10px 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    margin: 0;
    }


/* Buttons
   ================================================================ */

