body {
  background-color:#F8F8FF;
}
h1 {
  font-family: georgia;
  text-align: center;
  color: #483D8B;
}
strong {
  color: #483D8B;
  font-family: georgia;
}

img {
  width:300px;     
  height:400px;    
  overflow:hidden;
  display: block;
  margin: 0 auto;
}
h2 {
  text-align: center;
  font-weight: bold;
  color:#778899;
}

h2, a {
  text-align: center;
  font-weight: bold;
  color:#778899;
}

p {
text-align: center;
font-family: georgia;
}

.size {
font-family: georgia;
}

.font-family {
  font-family: georgia;
}

h5 {
  font-family:georgia;
  font-weight:normal;
  font-size: 16px;
}


